* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  margin-top: 2rem;
  padding: 6rem;
  background-color: darkgray;
}
#mainheading1,
#userheading1,
#productsheading1,
#categoriesheading1,
#flavourheading1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
/* #userstable,
#productstable,
#categorytable,
#flavourtable {
  padding: 3rem;
  margin: 0%;
} */
