* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
#mainheading1,
#userheading1,
#productsheading1,
#categoriesheading1,
#flavourheading1 {
  display: flex;
  justify-content: center;
}
#userstable,
#productstable,
#categorytable,
#flavourtable {
  padding: 3rem;
  margin: 0%;
}
