* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  margin-top: 0%;
  padding: 6rem;
  background-color: darkgray;
}
#mainheading1 {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  display: flex;
  justify-content: center;
}
#userheading1,
#productsheading1,
#categoriesheading1,
#flavourheading1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
/* #userstable,
#productstable,
#categorytable,
#flavourtable {
 
  margin: 0%;
} */
